<app-create-button (createButtonClick)="onShowInput()"></app-create-button>

<div *ngIf="utilityService.show">
  <input [(ngModel)]="newTask" appNewTaskInput />
  <button (click)="onAddTaskToTaskList()" id="addTaskButton">Add Task</button>
  <button (click)="onResetInput()">
    <i class="fas fa-trash-alt"></i>
  </button>
</div>
<ul>
  <li class="item" *ngFor="let task of taskService.taskList">
    <p
      class="text"
      [id]="task.id"
      innerText="{{ task.name }}"
      [class.completed]="task.done"
      [contentEditable]="task.editable"
      #taskFocus
    ></p>
    <div class="date" [id]="task.id">Created At: {{ formattedDate }}</div>
    <app-task-button
      [id]="task.id"
      [task]="task"
      (taskButtonClick)="handleTaskButtonClick($event)"
    ></app-task-button>
    <p
      *ngIf="task.done"
      class="duration"
      innerText="Completed in {{ calculateDuration(task.startDate) }} day"
    ></p>
  </li>
</ul>
