@import "src/styles/_variables.scss";
@import "src/styles/_colors.scss";
@import "src/styles/_reuse.scss";

.input-box {
  @include task-container(0.188rem, 0rem);
  height: 64px;
  margin: 0 0 $sp-10 0;
  border-radius: none;
  padding-left: 1rem;
}

.task-creator {
  width: 100%;
  display: flex;
  margin: auto;
}

.add-task-button {
  place-items: center;
  border-radius: $sp-4;
  width: 104px;
  height: $sp-36;
  display: grid;
  border: 1px solid $primary-gray;
  ::ng-deep button {
    border: none;
    border-radius: $sp-4;
    background-color: $primary-white;
  }
}

.reset-task {
  margin-left: 8px;
  ::ng-deep button {
    background-color: $primary-white;
    height: $sp-36;
    border: none;
  }
}
