.date,
.duration {
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #aaacbc;
}

.fa-trash-alt {
  color: rgba(109, 107, 107, 0.835);
}
.text.completed {
  text-decoration: line-through;
  color: green;
}