@import "src/styles/_variables.scss";
@import "src/styles/_colors.scss";
@import "src/styles/_reuse.scss";

.grid-navbar-item {
  @extend %flex-shared;
}

img {
  position: relative;
  &.search-icon {
    top: $sp-10;
  }
  &.title-logo {
    margin-right: 0.813rem;
    top: $sp-5;
  }
}

.navbar {
  background: $primary-white;
}

.title {
  color: $primary-blue;
  font: {
    size: $sp-36;
    weight: 700;
  }
  line-height: 2.625rem;
}

