<ng-container  *ngFor="let newbutton of newButtons">
  <!-- <button class="styleButton">
  <img
    [src]="button.src"
    [attr.data-job]="button.dataJob"
    [id]="button.id"
    [ngStyle]="button.ngstyle"
    [alt]="button.label"
    *ngIf="visibilityHandle(button, task)"
    (click)="onTaskButtonClick(button)"
  />
</button> -->

<!-- <button 
  class="styleButton"
  *ngIf="visibilityHandle(newbutton, task)"
  (click)="onTaskButtonClick(newbutton)"
  [ngStyle]="newbutton.ngstyle"
  [id]="newbutton.id"
  [attr.data-job]="newbutton.dataJob"
  innerHTML="{{newbutton.content}}"
> 
</button> -->

<button 
  class="styleButton"
  *ngIf="visibilityHandle(newbutton, task)"
  (click)="onTaskButtonClick(newbutton)"
  [ngStyle]="newbutton.ngstyle"
  [id]="newbutton.id"
  [attr.data-job]="newbutton.dataJob"
  innerHTML="{{newbutton.content}}"
> 
</button>
</ng-container>
