<div class="grid-container">
  <div *ngIf="utility.show" class="inputBoxContainer">
    <app-add-card></app-add-card>
  </div>
  <div *ngFor="let task of taskList" class="taskList">
    <p
      class="text"
      [id]="task.id"
      innerText="{{ task.name }}"
      [class.completed]="task.done"
    ></p>
    <div class="date" [id]="task.id">Created At: {{ formattedDate }}</div>
    <div class="grid-after-completion">
      <div>
        <app-task-button
          class="taskButton"
          [id]="task.id"
          [task]="task"
          (taskButtonClick)="handleTaskButtonClick($event)"
        ></app-task-button>
      </div>
      <div>
        <p
          *ngIf="task.done"
          class="duration"
          innerText="Completed in {{ calculateDuration(task.startDate) }} day"
        ></p>
      </div>
    </div>
  </div>
</div>
